.root {
  @apply h-20 w-full fixed font-bold text-black flex items-center justify-between;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.1);
  z-index: 9999;
}
.root > div {
  max-width: 1440px;
  margin: auto

}
.menu {
  @apply flex space-x-12 ;
}
.language {
  @apply flex ;
}
.language > a:last-child {
  @apply hidden;
}

@media screen and (max-width : 968px) {
  .root {
    @apply px-8
  }
  .menu {
    display: none;
  }
  .language > a:last-child {
    @apply block;
  }
}