.root {
  @apply flex flex-col w-1/2 h-2/3 mt-12 py-6 px-12;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1)
}
.title {
  @apply text-center text-2xl mb-6;
}
.root > div {
  @apply flex flex-col h-5/6 text-base justify-around;
}
.root > div > span {
  @apply flex ;
}
.root > div > div {
  @apply grid grid-cols-2 items-center;
}
.root > div > span:hover {
  @apply text-blue-300;
}
.root > div > div > span {
  line-height: 180%;
}
.root > div > div > span > span {
  @apply text-sm;
}
.root > div > div > span:hover {
  @apply text-blue-300;
}

@media screen and (max-width : 968px) {
  .root {
    @apply flex flex-col w-4/5 mt-12 px-6;
  }
  .root > div {
    @apply flex flex-col h-5/6 text-sm justify-around text-left;
  }
  .root > div > span {
    @apply flex ;
  }
  .root > div > div {
    @apply flex flex-col text-left items-center ;
  }
  .root > div > span:hover {
    @apply text-blue-300 ;
  }
  .root > div > div > span {
    @apply w-full;
    line-height: 180%;
  }
  .root > div > div > span > span {
    @apply text-xs;
  }
  .root > div > div > span:hover {
    @apply text-blue-300;
  }
}