.root {
  @apply flex flex-col max-w-7xl w-full;
}

.wrap {
  position: relative;
}

.wrap::after {
  content: '';
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: -8px;
  left: 50%;
  width: 0%;
  height: 4px;
  transform: translateX(-50%);
  background-color: #c9c9c9;
  transition: all 1s ease-out;
}
.wrap:hover::after{
  width: 100%
}

.header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}
.box {
  width: 4rem;
  height: 4rem;
  background-color: green
}
.title { 
  
  @apply flex px-8 py-3 text-xl items-center;
  position: relative;
  border: 1px solid #adadad;
  border-radius:21px;
  box-shadow: 0px 3px 6px #adadad;
}

.title:hover { 
/* background-color: rgba(173,173,173, 0.5); */
border: none;
}
.title:active { 
  box-shadow: inset 0px 3px 6px #adadad;
  background-color: white;
}
/* .title::after { 
  content :'';
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: -12px;
  left: 0px;
  width: 0%;
  height: 4px;
  background-color: red;
  transition: all 1s ease-out;
  
}

.title:hover::after { 
  width: 100%;
} */
.root .body { 
  @apply grid grid-cols-4 gap-4 mt-8;
  width: 100%;
}

.imageBox {
  cursor: pointer;
  min-width: 268px;
  min-height: 268px;
  transition : all 0.6s ease; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 8px 16px 0 rgba(31,38,135,0.4);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
}
.modal {
  @apply absolute top-1/2 left-1/2 p-8;
  display: grid;
  grid-template-columns: 3fr 2fr;
  transition: all 0.3s ease;
  width: 1000px;
  height: 680px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(31,38,135,0.4);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
}
.image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.contents {
  @apply space-y-2 p-4;
}
.contents:nth-last-child(n+1) {
  @apply text-lg;
}

@media screen and (max-width : 968px) {

  .root .body { 
    @apply grid grid-cols-2 gap-2 mt-2 px-4;
  }

  .imageBox {
    cursor: pointer;
    min-width: 148px;
    min-height: 148px;
    transition : all 0.6s ease; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 8px 16px 0 rgba(31,38,135,0.4);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.1);
  }
  
  .modal {
    @apply absolute top-1/2 left-1/2 p-8;
    display: grid;
    grid-template-columns: 3fr 2fr;
    transition: all 0.3s ease;
    width: 1000px;
    height: 680px;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(31,38,135,0.4);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.1);
  }
  .image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .contents {
    @apply space-y-2 p-4;
  }
  .contents:nth-last-child(n+1) {
    @apply text-lg;
  }
}